{{#models}}
{{#model}}
classdef {{classname}}
    properties
    end
    methods(Static)
        function out = construct()
        %% construct
        %% Description: Construct a struct that represents the {{classname}} model with keys defined and defaults populated.{{#summary}} - {{classname}} summary: {{summary}}{{/summary}}
            out = struct();{{#vars}}
            out.{{baseName}} = {{{defaultValue}}};{{/vars}}
        end
    end
end
{{/model}}
{{/models}}


